=begin
#Svea Checkout API

#Svea Checkout API

OpenAPI spec version: v1
Contact: support-webpay@sveaekonomi.se
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.14

=end

require 'uri'

module SveaCheckout
  class UtilApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # This request returns a list of available B2C/B2B part payment campaigns.
    # HTTP status code 200 indicates success, everything else indicates a failure.
    # @param is_company True for B2B, false for B2C
    # @param [Hash] opts the optional parameters
    # @return [Array<CampaignCodeInfo>]
    def util_get_available_part_payment_campaigns(is_company, opts = {})
      data, _status_code, _headers = util_get_available_part_payment_campaigns_with_http_info(is_company, opts)
      data
    end

    # This request returns a list of available B2C/B2B part payment campaigns.
    # HTTP status code 200 indicates success, everything else indicates a failure.
    # @param is_company True for B2B, false for B2C
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<CampaignCodeInfo>, Fixnum, Hash)>] Array<CampaignCodeInfo> data, response status code and response headers
    def util_get_available_part_payment_campaigns_with_http_info(is_company, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UtilApi.util_get_available_part_payment_campaigns ...'
      end
      # verify the required parameter 'is_company' is set
      if @api_client.config.client_side_validation && is_company.nil?
        fail ArgumentError, "Missing the required parameter 'is_company' when calling UtilApi.util_get_available_part_payment_campaigns"
      end
      # resource path
      local_var_path = '/api/util/GetAvailablePartPaymentCampaigns'

      # query parameters
      query_params = {}
      query_params[:'isCompany'] = is_company

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<CampaignCodeInfo>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UtilApi#util_get_available_part_payment_campaigns\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
